.categories {
    text-align: center; /* Center-align the category containers */
  }
  
  .category-container {
    display: flex;
    justify-content: center; /* Center-align the category items horizontally */
    margin-bottom: 20px; /* Add some spacing between rows */
  }
  
  .category {
    width: 200px; /* Set a fixed width for each category */
    margin: 0 10px; /* Add spacing between categories */
  }
  
  .category img {
    width: 100%; /* Make sure the category images fill their containers */
    height: auto; /* Maintain aspect ratio */
  }
  
  .category p {
    margin-top: 10px; /* Add some space between the image and the category name */
  }
  